/models/sweeping-radar.glb filter=lfs diff=lfs merge=lfs -text
/models/sweeping-radar.blend filter=lfs diff=lfs merge=lfs -text
/models/phased-array-radar.glb filter=lfs diff=lfs merge=lfs -text
/models/phased-array-radar.blend filter=lfs diff=lfs merge=lfs -text
